.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
}
nav ul{
    list-style: none;
}

/* shared style */
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    margin-top: 37px;
}
.btn-primary:hover{
    background-color: rgb(245, 191, 191);
}

.head-title{
    font-size: 65px;
    font-weight: bold;
    margin: 0 267.5px;
    color: #252432;
}
.head{
    text-align: center;
    margin-top: 158px;
}

header{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
}

.second-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.second{
    display: flex;
    margin: 116px 782px 116px 141px;
    gap: 220px; 
    width: 1140px;
    align-items: center; 
 }
    .photo{
        border-radius: 48px;
    }
    .user{
        display: flex;
        justify-content: space-around;
    }
    .utd{
        background: 1140px 306px #d5d4e7;
        border-radius: 24px;
        margin: 116px 150px 0 150px;
        padding: 50px 142px;
    }
    .productive-user-titel{
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        /* margin-bottom: 40px; */
    }
    .title{
        font-size: 80px;
        font-weight: bold;
        color: #4E47FF;
    }
    .description{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .user-title{
        gap: 0;
    }

    .feedback{
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        margin-top: 137px;
    }
    .feedback-img{
        width: 40px;
        height: 40px;
        border-radius: 999px;
    }
    .user-card{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
    }
    .user-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .user-info{
        display: flex;
        flex-direction: column;
    }
    .user-name{
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #757575;
    }
    .user-role{
        margin: 2px 0 0;
        font-size: 12px;
        color: #B3B3B3;
    }
    .section{
        border: 1px solid #F0E5E5;
        width: 310px;
        height: 190px;
        padding: 24px 24px 20px 24px;
        align-items: center;
        border-radius: 14px;
    }
    .user-star{
        margin-bottom: 24px;
    }
    .section-group{
        display: flex;
        justify-content: space-around;
        margin: 50px 150px 0 150px;
        gap: 20px;
    }
    .focus{
         text-align: center;
         border: 1px solid #f8f6f6;
         background-color: #f8f6f6;
         border-radius: 24px;
         width: 1140px;
         height: 697px;
         margin-left: 151px;
         margin-right: 149px;
         margin-top: 137px;
         padding: 71px 0 71px 0;
    }
    .focus-title{
        font-size: 50px;
        font-weight: bold;
        padding: 41px 312px 0px 312px;
    }
    .focus-sub-title{
        gap: 20px;
        padding: 0px 326.5px 0 326.5px;
        color: #1a1919;
    }
    .focus-img{
        width: 840px;
        height: 365px;
        border-radius: 48px;
    }
    .focus-clicks{
        padding-bottom: 30px;
        margin-top: 20px;
    }
    .focus-click{
        background-color: #4E47FF;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 12px 36px;
        border-radius: 10px;
        border: none;
        margin-top: 37px;
    }
    .get-in-touch {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: white;
    }

    .container {
        display: flex;
        min-height: 100vh;
        padding: 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .left {
        flex: 1;
        padding-left: 150px;
    }

    .left h1 {
        font-size: 48px;
        color: #111;
        margin: 0;
        line-height: 1.2;
    }

    .right {
        flex: 1;
        max-width: 400px;
        background: #fff;
        padding: 150px;
        border-radius: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
       margin-top: 15px;
       margin-bottom: 5px;
       font-weight: bold;
       font-size: 14px;
       color: #333;
    }

    input,
    textarea {
       padding: 12px;
       border: 1px solid white;
       border-radius: 6px;
       font-size: 14px;
       resize: none;
    }

    button {
       margin-top: 20px;
       padding: 14px;
       background-color: #4f46e5;
       color: white;
       font-size: 16px;
       border: none;
       border-radius: 8px;
       cursor: pointer;
    }
    button:hover{
        background-color:rgb(245, 191, 191) ;
    }
    .title {
       margin: 0;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color: #f4f7fe;
       text-align: center;
    }

    .logo-title {
       padding: 80px 20px 40px;
       background-color: white;
    }

    .logo {
       font-size: 100px;
       font-weight: 900;
       color: #4f46e5;
       margin: 0;
    }

    .tagline {
        font-size: 16px;
        color: #bebdbd;
        max-width: 600px;
        margin: 20px auto;
        line-height: 1.6;
    }

    .nav {
      margin-top: 20px;
    }

    .nav a {
        font-size: small;
        margin: 0;
        text-decoration: none;
        color: #bebdbd;
        font-weight: 401;
    }
 